@import '../../../variables';

.spinner-small {
  height: 2rem;
  width: 2rem;
  border-left: .25rem solid rgba(183, 28, 28, .1);
  border-right: .25rem solid rgba(183, 28, 28, .1);
  border-bottom: .25rem solid rgba(183, 28, 28, .1);
  border-top: .25rem solid rgba(183, 28, 28, .8);
}

.spinner-medium {
  height: 5rem;
  width: 5rem;
  border-left: .5rem solid rgba(183, 28, 28, .1);
  border-right: .5rem solid rgba(183, 28, 28, .1);
  border-bottom: .5rem solid rgba(183, 28, 28, .1);
  border-top: .5rem solid rgba(183, 28, 28, .8);
}

.spinner-large {
  height: 8rem;
  width: 8rem;
  border-left: 1rem solid rgba(183, 28, 28, .1);
  border-right: 1rem solid rgba(183, 28, 28, .1);
  border-bottom: 1rem solid rgba(183, 28, 28, .1);
  border-top: 1rem solid rgba(183, 28, 28, .8);
}

@-webkit-keyframes rotation {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes rotation {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(359deg); }
}

@-o-keyframes rotation {
  from { -o-transform: rotate(0deg); }
  to { -o-transform: rotate(359deg); }
}

@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

.spinner-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  [class^='spinner-'] {
    border-radius: 100%;
    -webkit-animation: rotation .8s infinite linear;
    -moz-animation: rotation .8s infinite linear;
    -o-animation: rotation .8s infinite linear;
    animation: rotation .8s infinite linear;
  }
}