@import '../../variables';

.video-playlist-header {
  text-align: center;
  color: white;
  background-color: mat-color($app-primary);

  @media (min-width: $ipad-width) {
    padding: 1rem 0.5rem;
  }
}

header {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;

  @media (min-width: 992px) {
    font-size: 3rem;
  }
}

.iphone-padding {
  padding-top: 1.75rem;
}