@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-red, 900);
$app-accent: mat-palette($mat-blue-grey, 200, 100, 400);
$app-theme: mat-light-theme($app-primary, $app-accent);

@include angular-material-theme($app-theme);

$iphone6-height: 650px;
$ipad-width: 768px;