@import '../../variables';

.playlist-item {
  border: 1px solid white;
  padding: 1px;

  &:hover, &:focus {
    cursor: pointer;
    background-color: mat-color($app-accent, lighter);
  }
}

.playlist-item-selected {
  font-weight: bold;
  background-color: mat-color($app-accent, darker);
}

.playlist-item-thumb {
  height: 4rem;
  width: 4rem;

  @media (min-width: $ipad-width) {
    height: 5rem;
    width: 5rem;
  }
}

.playlist-item-description {
  height: 4rem;

  @media (min-width: $ipad-width) {
    height: 5rem;
  }
}

.playlist-item-thumb-container {
  height: 4rem;
  width: 4rem;
  float: left;
  margin-right: .25rem;

  @media (min-width: $ipad-width) {
    height: 5rem;
    width: 5rem;
  }
}

.image-loading {
  display: none;
}