<div *ngIf="videos.length > 0" class="row justify-content-center video-playlist-main-container">
  <div class="col-12 col-md-7 col-lg-6 video-player-container">
    <video-player (onEnded)="onEnded()"></video-player>
  </div>
  <div class="col-12 col-md-5 col-lg-4 video-list-container">
    <div class="video-list-heading">
      Up Next
      <div class="continuous-play-icon" title="Play next video when current video finishes">
        <i [ngClass]="{'fi-loop': true, 'continuous-play-icon-disabled': !continuousPlay }" (click)="onContinuousPlayToggle()"></i>
      </div>
    </div>
    <ul class="video-list">
      <playlist-item *ngFor="let video of videos; index as i"
        [video]="video"
        [index]="i"
        [selected]="currentIndex === i"></playlist-item>
    </ul>
  </div>
</div>