@import '../variables.scss';

.video-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 9rem;
  border: 4px solid mat-color($app-primary);
  border-radius: 5px;
  padding: 2px;
  overflow-y: auto;
  @media screen and (min-height: $iPhone6Height) and (max-width: $iPadWidth) {
    max-height: 13rem;
  }
  @media screen and (min-height: 400px) {
    max-height: 13rem;
  }
  @media screen and (min-height: 475px) {
    max-height: 19rem;
  }
  @media screen and (min-height: 575px) {
    max-height: 27rem;
  }
  @media screen and (min-width: $iPadWidth) and (min-height: 600px) {
    max-height: 100vh;
  }
}
.video-list-container {
  margin-bottom: 5rem;
}
.video-list-heading {
  font-weight: 600;
  font-size: 1.5rem;
  color: black;
  margin-bottom: .5rem;
}
.continuous-play-icon {
  float: right;
  padding-right: 1.5rem;
  font-weight: normal;
  &:hover, &:focus {
    cursor: pointer;
  }
}
.continuous-play-icon-disabled {
  color: mat-color($app-accent, lighter);
}
.video-player-container {
  padding-top: 2.75rem;
}
.video-playlist-main-container {
  margin-top: 1rem;
}